<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form  action="/addTask" method="post">
            <p>Add new Task:</p>
                <input type="text" name="name">
                <input type="submit" value="Add">
        </form>

        <h1>Tasks:</h1>
        <ul>
            {% for i in tasks %}
                <li>{{ i.name }}
                    <a href="#">edit</a>
                    <a href="{{ url_for('deleteTask', task_name=i.name)}}">Delete</a>
                    {{ i.time.replace(microsecond=0) }}
                </li>
            {% endfor %}
        </ul>

    </body>
</html>
