<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form  action="/addTask" method="post">
            <p>Add new Task:</p>
                <input type="text" name="name">
                <input type="submit" value="Add">
        </form>

        <h1>Tasks:</h1>
        <ul id='taskList'>
            <!-- <div class="response">

            </div> -->
            {% for i in tasks %}
                <li id={{i.name.replace(' ','')}}><span>{{ i.name }}</span>
                    <a class='edit' id={{i.name.replace(' ','') }} href="#">edit</a>
                    <a href="{{ url_for('deleteTask', task_name=i.name)}}">Delete</a>
                    {{ i.time.replace(microsecond=0) }}
                </li>

            {% endfor %}
        </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        const ul = document.getElementById('taskList');
        ul.addEventListener('click', (e) =>{
            if (e.target.tagName.toLowerCase() === 'a'){
                const anchor = e.target;
                const li = anchor.parentNode;
                const ul = li.parentNode;
                const action = anchor.innerHTML;
                const nameActions = {
                    edit: () => {
                        const span = li.firstElementChild;
                        const f = document.createElement("form");

                        const i = document.createElement("input"); //input element, text
                        i.setAttribute('type',"text");
                        i.setAttribute('name',"name");
                        i.value = span.textContent;

                        const s = document.createElement("input"); //input element, Submit button
                        s.setAttribute('type',"submit");
                        s.setAttribute('value',"Submit");
                        s.setAttribute('id',"update");

                        $(s).click(function(){

                            var id = span.textContent;
                            var name = i.value;

                            req = $.ajax({
                                url: '/edit',
                                type: 'POST',
                                async: false,
                                data: {name: name, id:id},
                                success: function(data) {
                                    console.log(data.name);
                                    span.innerHTML = data.name;
                                },
                                error: function () {
                                    alert('Sorry, something went wrong :(');
                                }
                            });

                        });

                        f.appendChild(i);
                        f.appendChild(s);

                        li.insertBefore(f, span);
                        li.removeChild(span);
                        anchor.innerHTML = 'Cancel';
                    },
                    Cancel: () => {
                        const input = li.firstElementChild;
                        const span = document.createElement('span');
                        span.textContent = input.value;
                        li.insertBefore(span, input);
                        li.removeChild(input);
                        anchor.innerHTML = 'edit';
                    }
                };

                nameActions[action]();
            }
        });



        // $(this).click(function(e){
        //     if (e.target.tagName.toLowerCase() === 'a'){
        //     alert(e.target.id)
        //     $form = $("<form></form>");
        //     $form.append('<input type="button" value="button">');
        //     $('#'+ e.target.id).append($form);
        //     }
        // });
        //$('.edit').click(function(){
        //    $.ajax({
        //        url: "/edit",
        //        type: "POST",
        //        success: function(resp){
        //            $('.response').append(resp.data)
        //        }

        //    })
        //});


    </script>
    </body>
</html>
